.component-Matchup {
    /* background-color: rgb(240, 240, 240); */
    background-color: snow;
    text-align: left;
    text-align: center;
  }
  
  .component-Matchup:not(:last-of-type) {
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .matchup-container {
      display: inline-block;
  }
  
  .team {
  display: inline-block;
  padding: 1rem 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(240,240,240);;
  min-width: 74px;
  text-align: center;
}

.team.away {
  margin-right: 1rem;
}

.team.home {
  margin-left: 1rem;
}

.matchup-container > div:not(:last-of-type) {
    margin-right: 1rem;
}

.matchup-container > div:not(:first-of-type) {
    margin-left: 1rem;
}

.pick.pending {
  background-color: gold;
}

.pick.wrong {
  background-color: firebrick;
  color: rgb(240,240,240);;
}

.pick.correct {
  background-color: mediumaquamarine;
}