.component-Matchup {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    -webkit-box-shadow: 10px 10px 23px -8px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 10px 23px -8px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 23px -8px rgba(0, 0, 0, 0.47);
    text-align: center;
  }
  
  .component-Matchup:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .matchup-container {
      display: inline-block;
  }
  
  .team {
  display: inline-block;
  padding: 1rem 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background-color: snow;
  min-width: 70px;
  text-align: center;
}

.team.away {
  margin-right: 1rem;
}

.team.home {
  margin-left: 1rem;
}

.matchup-container > div:not(:last-of-type) {
    margin-right: 1rem;
}

.matchup-container > div:not(:first-of-type) {
    margin-left: 1rem;
}

.pick.pending {
  background-color: gold;
}

.pick.wrong {
  background-color: firebrick;
  color: snow;
}

.pick.correct {
  background-color: mediumaquamarine;
}