html {
  font-size: 10px;  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Light', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240,240,240);
}

.App {
  max-width: 600px;
  margin: auto;
}